.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(251, 255, 254);
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.calculator{
    background: rgb(1, 1, 29);
    padding: 20px;
    border: 10px;
    border-radius: 50px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size:20px ;
    margin: 20px;
}
form .display{
    display: flex;
    justify-content: end;
    margin: 20 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;

}
form input.equal{
    width: 140px;
}